.App {
  font-family: sans-serif;
  text-align: center;
}

.card {
  margin-top: 10px;
  box-shadow: 0 1px 2px #eee;
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
  width: 80vw;
  min-height: 300px;
  text-align: left;
}

.alert {
  width: 50vw;
}

.card-hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transform: scale(1.01, 1.01)
}

#add-note-bottom {
  padding-top: 13px;
}

.icon-div {
  text-align: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.DraftEditor-root {
  flex: 1;
}

.card-title {
  border-bottom: 1px solid lightgray;
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.title {
  flex: 1;
}

[contenteditable="true"]:not(:focus):empty:before  {
  content: attr(placeholder)
}

.date-time {
  font-style: italic;
  color: gray;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
}

.notepad {
  margin-bottom: 50px;
  min-height: 160px;
  font-family: 'Open Sans', sans-serif;
}

.alert {
  display: none;
}

.icon-click {
  color: black;
  text-decoration: none;
}

.icon-click:hover {
  text-decoration: none;
}

ion-icon {
  font-size: 20px;
}

.fab {
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 #666;
  transition: all 0.1s ease-in-out;

  font-size: 40px;
  color: white;
  text-align: center;
  line-height: 50px;

  position: fixed;
  right: 50px;
  bottom: 50px;
}

.fab:hover {
  box-shadow: 0 6px 14px 0 #666;
  transform: scale(1.05);
}

textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}